<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Mask Detection</title>
</head>
<body>

    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file1">
      <input type="submit">
    </form>
    <h2>Input Terrain</h2>
    <img src="static/input.png" align="middle" />
    <h2>Output Mask</h2>
    <img src="static/output.png" align="middle" />
    
</body>
</html>